.flexbox {
    display: flex;
    justify-content: space-around;
}

.flexboxitem{
    display: flex;
    justify-content: space-between;
    width: 20%;
    align-items: center;
}
.item1 {
    height: 80px;
    width: 80px;
}

.background {
    background-color: #1f2937;
}

p {
    font-weight: bold;
    color: antiquewhite;
}

.flexboxinfo {
    display: flex;
    margin-top: 90px;
    justify-content: center;
}

.infowords {
    color: antiquewhite;
    margin-top: 90px;
    align-items: center;
    margin-right: 300px;

}
.one {
    margin: 0px;

}
.two {
    margin: 0px;
}
.button{
    background-color: blue;
    color: white;
    font-size: medium;
    font-style: italic;
    font-weight: 600;
    margin: 0px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;

}

.randombox {
    justify-content: space-around;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;

}

.box1 {
    border: 2px solid lightblue;
    border-radius: 15px;
    height: 200px;
    width: 160px;
    
}

.randominfo {
    justify-content: space-around;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;

}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
}

.quotebox {
    background-color: #a39e9e;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;


}

